---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

// copied from https://github.com/mmistakes/minimal-mistakes/blob/master/assets/css/main.scss
// per https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/
// To make basic tweaks to theme’s style Sass variables

/* button colors */ 
// add custom colors here
$buttoncolors: (
  primary: $primary-color,
  inverse: #fff,
  light-outline: transparent,
  success: $success-color,
  warning: $warning-color,
  danger: $danger-color,
  info: $info-color,
  obsidian: #A88EF7,
  bluesky: $bluesky-color,
  facebook: $facebook-color,
  linkedin: $linkedin-color,
  mastodon: $mastodon-color,
  twitter: $twitter-color,
  x: $x-color
);

/* Obsidian notice */
.notice--obsidian,
.markdown-alert-obsidian {
  @include notice(#A88EF7);  // your custom color
}

// load default Minimal Mistakes styles

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials